@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('https://getbootstrap.com/dist/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('https://getbootstrap.com/dist/fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('https://getbootstrap.com/dist/fonts/glyphicons-halflings-regular.woff') format('woff'), url('https://getbootstrap.com/dist/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('https://getbootstrap.com/dist/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

body {
    font-size: 12px;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0 10px 10px 10px;
}

.history-page {
    padding-top: 58px;
    padding-right: 200px;
}

.search-results, .day-results {
    margin: 0 0 24px 0;
    padding: 0;
}

header {
    background-image: -webkit-linear-gradient(white, white 40%, rgba(255, 255, 255, 0.92));
    position: fixed;
    z-index: 3;
    left: 20px;
    right: 205px;
    top: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover .text {
    text-decoration: underline;
}

h1, h2, h3 {
    line-height: 1;
    font-weight: normal;
    cursor: default;
    -webkit-user-select: none;
}

h3.day {
    font-size: 1.2em;
    margin-bottom: 0.8em;
    -webkit-user-select: none;
}

.day .title {
    padding-left: 10px;
}

.day > a {
    color: #333;
}

.day > a:hover {
    color: #525556;;
}

header h1::after {
    -webkit-margin-end: 20px;
    background-color: #eee;
    content: ' ';
    display: block;
    height: 1px;
    position: relative;
    top: 13px;
}

.results {
    padding: 0 20px;
}

.entry {
    list-style: none;
    margin: 0;
    padding: 0;
}

.entry-box {
    line-height: 1.75em;
    align-items: center;
    display: flex;
    margin-bottom: 6px;
    max-width: 100%;
    min-height: 2em;
    overflow: hidden;
    padding-bottom: 1px;
}

.entry-box-container {
    display: flex;
}

.entry .time {
    color: rgb(151, 156, 160);
    max-width: 90px;
    min-width: -webkit-min-content;
    padding-right: 21px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.favicon {
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 16px;
    flex-shrink: 0;
    height: 16px;
    width: 16px;
}

.entry .visit-entry {
    display: flex;
    min-width: 0;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    font-size: 115%;
}

.entry .title {
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.entry .title > a, .site-domain [is='action-link'] {
    color: rgb(48, 57, 66);
    margin: 2px;
    padding: 0 2px;
}

.entry .domain {
    -webkit-padding-end: 6px;
    -webkit-padding-start: 2px;
    color: rgb(151, 156, 160);
    min-width: -webkit-min-content;
    overflow: hidden;
    white-space: nowrap;
    cursor: default;
}

.glyphicon {
    position: relative;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    font-size: 80%;
    top: 1px;
    padding-right: 5px;
    -webkit-font-smoothing: antialiased;
}

.glyphicon-plus:before {
    content: "\002b";
}

.glyphicon-minus:before {
    content: "\2212";
}

.glyphicon-plus > .glyphicon-plus-top {
    background-color: white;
    width: 100%;
    position: absolute;
    left: 0;
    font-size: 40%;
    top: 0;
}

.glyphicon-plus > .glyphicon-plus-bottom {
    background-color: white;
    width: 100%;
    position: absolute;
    left: 0;
    font-size: 40%;
    bottom: 0;
}

.glyphicon-remove {
    position: absolute;
    bottom: 0;
    height: 14px;
    right: 7px;
    top: 7px;
    width: 14px;
    z-index: 1;
    font-size: 120%;
    line-height: 1;
}

.glyphicon-remove:hover {
    padding: 0;
    background-color: #333;
    color: white;
    border-radius: 4px;
    margin-right: 5px;
}

.glyphicon-remove:before {
    content: "\e014";
}

.glyphicon-plus-top.collapse.in, .glyphicon-plus-bottom.collapse.in {
    display: inline-block;
}

.collapse {
    display: none;
}

.collapse.in {
    display: block;
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-timing-function: ease;
    -webkit-transition-duration: .35s;
    -webkit-transition-property: height, visibility;
}

.collapsed {
    -webkit-transition-timing-function: ease;
    -webkit-transition-duration: .35s;
    -webkit-transition-property: height, visibility;
}

#clearHist {
    right: 50px;
    position: absolute;
}

.overlay-container {
    -webkit-box-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-perspective: 1px;
    -webkit-transition: 200ms opacity;
    background-color: rgba(255, 255, 255, 0.75);
    bottom: 0;
    display: -webkit-box;
    left: 0;
    overflow: auto;
    padding: 20px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 11;
}

.overlay-container .layer {
    -webkit-border-radius: 3px;
    -webkit-box-orient: vertical;
    -webkit-transition: 200ms transform;
    background: white;
    box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0, 0, 0, 0.15);
    color: #333;
    display: -webkit-box;
    width: 500px;
    min-width: 400px;
    padding: 28px 20px;
    position: relative;
    z-index: 0;
}

select {
    margin-left: 100px;
    background: -webkit-linear-gradient(top, #ffffff 0%, #dddddd 100%);
}

button {
    margin-right: 20px;
}